# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
*.log

# Virtual env
.venv/
venv/
env/

# Build artifacts
build/
dist/

# PyInstaller
# 기본적으로 *.spec 무시하는 템플릿도 있어서,
# 스펙은 저장하도록 강제로 예외 처리
# (아래 두 줄은 필요 시 프로젝트명에 맞게 조정)
!lr2bga_mac.spec
!lr2bga_win.spec
